useDynLib(MiRKAT, .registration = TRUE)

import(survival)
import(PearsonDS)
import(GUniFrac)
import(MASS)
importFrom("stats", "binomial", "cov", "glm", "lm", "model.matrix",
             "pchisq", "resid", "median")

export(MiRKAT)
export(D2K)
export(MiRKATS)
export(MMiRKAT)
export(KRV)




